body {
    background-color: #f8f4db;
    font-family: Inter, sans-serif;
    font-weight: 300;
}

.main-page-container {
    display: flex;
    height: 100vh;
    margin: auto;
    width: 960px;
}

.logo-container {
    margin: 10px 0;
}

.new-lister-logo {
    width: 170px;
}

h1 {
    font-weight: 900;
    font-size: 3em;
    margin: 0;
}

h2 {
    font-weight: 300;
    font-size: 1.3em;
}

.logo {
    width: 47px;
    position: relative;
    top: 6px;
    margin-right: -7px;
}


.list {
    box-sizing: border-box;
    border: 2px solid black;
    margin-top: 10px;
    background-color: white;
    padding: 0;
    margin: 10px;
    border-radius: 9px;

}


/*.list:last-child {*/
/*    padding-bottom:0;*/
/*    border-bottom: 1px solid red;*/
/*}*/

.list li {
    list-style: none;

    padding: 7px;
    font-weight: bolder;
    border-bottom: 2px solid black;
}

input[type="text"] {
    padding: 7px;
    border: 1px solid #0ce370;

}

input[type="text"]:focus {
    outline: none;
    border: 1px solid #0ce370;

}

.addListItemBtn {
    font-weight: 900;
    font-size: 1.6em;
    color: #0ce370;
    background-color: white;
    border: 1px solid #0ce370;
    padding: 2px 8px;
    border-left: none;
    padding-bottom: 1px;
    position: relative;
    left: -6px;
    top: 4px

}

.deleteBtn {
    font-weight: 900;
    font-size: 1.2em;
    color: crimson;
    border-style: none;
    margin-left: 10px;
    background-color: white;

}

.deleteBtn:hover, .addListItemBtn:hover {
    cursor: pointer;
}
