.main-page-container {
    display: flex;
    width: 50vw;
    height: 100vh;
    margin: auto;
}

h1 {
    font-weight: 900;
    font-size: 3em;
}
h2 {
    font-weight: 300;
    font-size: 1.3em;
}

.logo {
    width: 47px;
    position: relative;
    top:6px;
    margin-right: -7px;
}