body {
  background-color: #f8f4db;
  font-family: Inter, sans-serif;
  font-weight: 300;
}

.main-page-container {
  display: flex;
  height: 100vh;
  width: 80%;
  margin: 0 auto;
}

.logo-container {
  margin-top: 10px;
  margin-bottom: 40px;
}

.new-lister-logo {
  width: 165px;
}

h1 {
  font-weight: 900;
  font-size: 3em;
  margin: 0;
}

h2 {

  font-size: 1.6em;
  font-weight: bold;

}

.list-title {
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  width: 450px;
  margin-top: 20px 0;
}

strong {
  font-weight: bold;
}

.logo {
  width: 47px;
  position: relative;
  top: 6px;
  margin-right: -7px;
}

.list {
  box-sizing: border-box;
  margin-top: 10px;
  background-color: white;
  padding: 0;
  border-radius: 9px;
  max-width: 50vw;
  overflow-wrap: break-word;
}

/*.list:last-child {*/
/*    padding-bottom:0;*/
/*    border-bottom: 1px solid red;*/
/*}*/

.list li {
  list-style: none;
  padding: 7px;
  font-weight: bolder;
  border-bottom: 2px solid #b2e2fe;
  display: flex;

  overflow-wrap: break-word;
}

.list li:last-child {
  border-bottom: none;
}

.input-wrapper {
  margin: 10px 0;
  display: inline-block;

}

input[type="text"] {
  padding: 7px;
  border: 1px solid #0ce370;
  margin: 10px 0;

}

input[type="text"]:focus {
  outline: none;
  border: 1px solid #0ce370;
}

.addListTitleBtn {
  font-weight: 900;
  font-size: 1.6em;
  color: #0ce370;
  background-color: white;
  border: 1px solid #0ce370;
  padding: 2px 8px;
  border-left: none;
  padding-bottom: 1px;
  position: relative;
  left: -6px;
  top: 4px;

}

.addListTitleBtn:hover {
  cursor: pointer;
}

.addListItemBtn {
  font-weight: 900;
  font-size: 1.6em;
  color: #0ce370;
  background-color: white;
  border: 1px solid #0ce370;
  padding: 2px 8px;
  border-left: none;
  padding-bottom: 1px;
  position: relative;
  left: -6px;
  top: 4px;
}

.addListItemBtn:hover {
  cursor: pointer;
}

.deleteBtn {
  font-weight: 900;
  font-size: 1.2em;
  color: crimson;
  border-style: none;
  margin-left: 10px;
  background-color: white;
  position: relative;
  top: 1px;
  align-content: flex-end;
}

.deleteBtn:hover,
.addListItemBtn:hover {
  cursor: pointer;
}
